
.container{
    display: flex;
    flex-direction: column;
    align-items:center;
    margin: auto ;
    margin-top: 100px;
    height: 700px;
    width: 500px;
    background:#fff ;
}

.header{
    display: flex;
    flex-direction: column; 
     align-items:center;
    gap: 9px;
    width: 100%;
    margin-top: 30px; 
}

.text{
    color: black ;
    font-size: 38px;
    font-weight: 500;
}

.underline{
    width: 61px;
    height: 6px;
    background:blue ;
    border-radius: 9px;
}


.Login{
    text-align: center;
    background-color:rgb(24, 231, 24);
    }
    
    .label{
    display: block;
    font-size: larger;
    color: black;
    padding: 5px;
    }
    
    .input{
    font-size: larger;
    padding: 5px;
    margin: 2px;
    text-align: center;
    text-align-last: center;
    }
    .btn{
    color: white;
    background-color: #349DFF;
    border-radius: 5px;
    font-size: larger;
    display: block;
    padding: 5px;
    margin: 10px auto;
    }
    
    .messages{
    display: flex;
    justify-content: center;
    }
    
    .error{
    display: block;
    background-color: red;
    color: white;
    width: fit-content;
    height: 50px;
    padding: 5px;
    }
    
    .success{
    display: block;
    background-color: lightblue;
    color: black;
    width: fit-content;
    height: 50px;
    padding: 5px;
    }
    .inputs{
        display:flex;
    align-items: center;
    margin: auto;
    width: 380px;
    background: #eaeaea;
    border-radius: 6px;
    }