
.container{
    display: flex;
    flex-direction: column;
    align-items:center;
    margin: auto ;
    margin-top: 100px;
    height: 890px;
    width: 700px;
    background:#fff ;
}

.header{
    display: flex;
    flex-direction: column; 
     align-items:center;
    gap: 9px;
    width: 100%;
    margin-top: 30px; 
}

.text{
    color: black ;
    font-size: 38px;
    font-weight: 500;
}

.underline{
    width: 61px;
    height: 6px;
    background:blue ;
    border-radius: 9px;
}

.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 5px;    
}

.input{
    display:flex;
    align-items: center;
    margin: auto;
    width: 250px;
    height: 40px;
    background: #eaeaea;
    border-radius: 6px;
}

.input input{
    height: 50px;
    width: 300px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 12px;
}

.forgot-password{
    padding-left: 50px;
    margin-top: 27px;
    color: #797979;
    font-size: 18px;
}

.forgot-password span{
     color: red;
     cursor: pointer;
}

.submit-container{
    display: flex;
    gap: 30px;
    margin: 60px auto;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 49px;
    color: #fff;
    background:#112B6F ;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
}

.gray{
    background: #eaeaea;
    color: #676767;
}

.file{
    align-items: zzzzzz;
}

.section1{
    display:;
    float: left;
    gap: 20px;
    grid-template-columns: auto auto ;
    padding: 10px;
}
.section2{
    display: ;
    float: right;
    gap: 20px;
    grid-template-columns: auto auto ;
    padding: 10px;
}
#file{
    
}

